
.idea/*
mar.log
mar.log.lck
*.iml
*.class
*/target/*
plugins/*.jar
save.json
Server/Server.iml
target/*
src/main/java/META-INF/MANIFEST.MF
src/main/resources/static/js/mar.js
.settings
.project
.classpath
# VSCode Workspace
.vscode/
