<!doctype html>
<html lang="en">
    #set ($title = "Account - M.A.R")
    #set ($cur_page = "account")
    #parse("head.vm")
<body>

    #parse("header.vm")

<div class="container">
    <div class="card">
        <div class="card-header"><h5>Account</h5></div>
        <div class="card-body">

            #if($session.attribute("username"))
            ## ALREADY LOGGED IN
                <p>Logged in as <strong>$session.attribute("username")</strong></p>
                <a href="/logout" class="btn btn-warning text-mono"><i class="mi">eject</i> Logout</a>

                <hr>

                <h5 class="card-title">Change password</h5>
                <form method="post" action="/change_password">
                    <div class="row">

                        <div class="col form-group">
                            <input title="Current password" type="password" placeholder="Current password"
                                   name="password" class="form-control">
                        </div>
                    </div>

                    <div class="row">
                        <div class="col">
                            <div class="form-group">
                                <input title="New password" type="password" placeholder="New password"
                                       name="new_password" class="form-control">
                            </div>
                        </div>
                        <div class="col">
                            <div class="form-group">
                                <input title="Repeat new password" type="password" placeholder="Repeat new password"
                                       name="new_password_repeat" class="form-control">
                            </div>
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-primary text-mono">Change password</button>
                </form>

                <hr>

                <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
                    <div class="card-body">
                        Anim pariatur cliche reprehenderit, enim eiusmod high life accusamus terry richardson ad squid.
                        3 wolf moon officia aute, non cupidatat skateboard dolor brunch. Food truck quinoa nesciunt
                        laborum eiusmod. Brunch 3 wolf moon tempor, sunt aliqua put a bird on it squid single-origin
                        coffee nulla assumenda shoreditch et. Nihil anim keffiyeh helvetica, craft beer labore wes
                        anderson cred nesciunt sapiente ea proident. Ad vegan excepteur butcher vice lomo. Leggings
                        occaecat craft beer farm-to-table, raw denim aesthetic synth nesciunt you probably haven't heard
                        of them accusamus labore sustainable VHS.
                    </div>
                </div>

                <p>
                    <a class="btn btn-primary" role=button data-toggle="collapse" data-target="#debugInfo"
                       aria-expanded="false" aria-controls="debugInfo">Debug information</a>
                </p>

                <div class="collapse" id="debugInfo">
                    <div class="card card-block bg-light text-dark text-mono" style="padding: 1em">
                        <p>Moderator: $user.isModerator()</p>

                        <h5>CPU</h5>
                        <pre>$user.getControlledUnit().getCpu()</pre>

                        <h5>Controlled unit</h5>
                        <p>$user.getControlledUnit()</p>
                        <p>id: $user.getControlledUnit().getObjectId()</p>
                        <p>energy: $user.getControlledUnit().getEnergy()</p>
                        <p>x: $user.getControlledUnit().getX()</p>
                        <p>y: $user.getControlledUnit().getY()</p>
                        <p>console mode: $user.getControlledUnit().getConsoleMode()</p>
                        <p>kbBuffer size: $user.getControlledUnit().getKeyboardBuffer().size()</p>

                        <h5>World</h5>
                        <pre>$user.getControlledUnit().getWorld()</pre>

                        <h5>User code</h5>
                        <pre>$user.getUserCode()</pre>
                    </div>

                </div>

            #else
            ## NOT LOGGED IN
                <h5 class="card-title">Login</h5>
                <form method="post" action="/login">
                    <div class="row">

                        <div class="col form-group">
                            <input title="Username" placeholder="Username" name="username" class="form-control">
                        </div>

                        <div class="col form-group">
                            <input title="Password" type="password" placeholder="Password" name="password"
                                   class="form-control">
                        </div>
                    </div>


                    <button type="submit" class="btn btn-primary text-mono">Login</button>

                </form>

                <hr>

                <h5 class="card-title">Register</h5>
                <form method="post" action="/register">
                    <div class="row">

                        <div class="col form-group">
                            <input title="Username" placeholder="Username" name="username" class="form-control">
                        </div>

                        <div class="col form-group">
                            <input title="Password" type="password" placeholder="Password" name="password"
                                   class="form-control">
                        </div>
                    </div>

                    <button type="submit" class="btn btn-outline-primary text-mono">Register</button>
                </form>
            #end
        </div>
    </div>
</div>

    #parse("footer.vm")

</body>
</html>