#console-wrapper {
    height: 400px;
    width: 100%;
    position: relative;

    line-height: 1.2;
    display: inline-block;
    margin: 1em 0 0 0;
    z-index: 1;

}

.piece {
    display: block;
    height: 100%;
    left: 0;
    top: 0;
    width: 100%;
}

.noclick {
    pointer-events: none;
}

#consoleText {
    font-family: fixedsys;
    font-size: 24px;
    white-space: pre-wrap;
    -webkit-animation: crt-output 10ms infinite;
    animation: crt-output 10ms infinite;
    overflow-y: scroll;
    position: absolute;
    padding: 3rem 2rem;
    pointer-events: auto;
    text-align: left;
    text-shadow: 0 0.2rem 1rem #0c7b46;
    border-radius: 2rem;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
    z-index: -1;
}

#consoleText::-webkit-scrollbar {
    display: none;
}

@-webkit-keyframes crt-output {
    0% {
        opacity: 0.95;
    }
    50% {
        opacity: 1;
    }
}

@keyframes crt-output {
    0% {
        opacity: 0.95;
    }
    50% {
        opacity: 1;
    }
}

.scanlines {
    background: -webkit-gradient(linear, left top, left bottom, from(rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0)), color-stop(70%, rgba(0, 0, 0, 0.2)), to(rgba(0, 0, 0, 0.6)));
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0) 50%, rgba(0, 0, 0, 0.2) 70%, rgba(0, 0, 0, 0.6));
    background-size: 100% 0.3rem;
    border-radius: 2rem;
    position: absolute;
}

.glow {
    -webkit-animation: crt-glow 20s infinite;
    animation: crt-glow 20s infinite;
    background: radial-gradient(circle at 50% 50%, #1bd459 0%, rgba(27, 212, 89, 0.88) 58%, rgba(21, 235, 92, 0.57) 80%, rgba(19, 94, 29, 0.27) 93%, rgba(10, 23, 12, 0) 100%);
    opacity: 0.15;
    pointer-events: none;
    position: relative;
}

@-webkit-keyframes crt-glow {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
    }
}

@keyframes crt-glow {
    0% {
        opacity: 0.1;
    }
    50% {
        opacity: 0.2;
    }
}

.ctr-selection::-moz-selection {
    background-color: #14fdce;
    color: #031e11;
}

.ctr-selection::selection {
    background-color: #14fdce;
    color: #031e11;
}

.ctr-selection-inverted::-moz-selection {
    background-color: #031e11;
    color: #14fdce;
}

.ctr-selection-inverted::selection {
    background-color: #031e11;
    color: #14fdce;
}

.ctr-text {
    color: #14fdce;
    background-color: #031e11;
}

.ctr-text-inverted {
    color: #031e11;
    background-color: #14fdce;
}